* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(209, 0, 116);
  --dark-color: #000;
  --light-color: #e8d7e3;
  --light-gray: rgb(215, 214, 214);
}

/* Navbar */
.top_nav {
  padding: 10px;
  text-align: center;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: aqua;
  font-style: 28px;
}

.navbar-nav .nav-link:hover {
  color: var(--light-color);
}

.navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-weight: 500;
}

.navbar-brand:hover {
  color: aqua;
}

.btn-outline {
  color: aqua;
  border: 1px solid aqua;
}

.btn-outline:hover {
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown-menu.brands_menu.active {
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25%;
  padding-right: 10px;
}

.dropdown-menu.categories_menu.active {
  display: block;
}

.dropdown-menu.categories_menu,
.dropdown-menu.brands_menu {
  display: none;
}

.dropdown-menu.brands_menu .dropdown-item {
  cursor: pointer;
}

.bottom_nav {
  background-color: var(--main-color);
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* main */
.main_section {
  display: flex;
  min-height: 100vh;
}

/* Left and Right aside */
.left_aside,
.right_aside {
  background-color: yellow;
  flex-basis: 15%;
}

/* Content */
.content {
  margin: 0;
  flex-basis: 70%;
  padding: 20px 50px;
}

.not_found {
  text-align: center;
  padding: 30px 0;
  background-color: #fdfcfc;
  border: 1px solid #e8d7e3;
  width: 80%;
  margin: 100px auto;
}

.back_home {
  font-size: 20px;
  padding: 15px 5px;
  width: 1000px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  border: 1px solid #dfceda;
  background-color: #fefefe;
  position: relative;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  transition: all .5s ease-in-out;
}

.back_home:hover {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color)
}

.pagination_part .pagination_buttons {
  text-align: center;
}

.pagination_buttons button {
  margin-right: 1px;
  border-radius: 3px;
  padding: 0 9px;
}

.pagination_buttons button:hover {
  background-color: var(--light-color);
}

.pagination_buttons button.active {
  background-color: var(--main-color);
  color: #fff;
}

.pagination_part .pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

/* product page */
.pagination .item_container {
  position: relative;
  width: 190px;
  margin-bottom: 20px;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--light-gray);
}

.item_container .buy_now {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  font-size: 12px;
  margin: auto;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--light-color);
}

.item_container img {
  width: 100%;
  height: 200px;
  border-radius: 7px 7px 0 0;
}

.item_container .product_name {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  color: #fff;
  text-align: center;
  transition: height .5s ease-in-out;
  background-color: rgba(209, 0, 116,.7);
}

.item_container:hover .overlay {
  height: 50%;
}

.overlay .show_details {
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  padding-top: 20px;
  text-transform: capitalize;
}

.overlay .fa-info {
  padding: 5px 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* product details */
.product_details {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.908);
}

.fa-times {
  color: #fff;
  font-size: 30px;
  position: absolute;
  right: 13%;
  top: 12%;
  cursor: pointer;
}

.product_details .details_content {
  width: 70%;
  height: 70%;
  margin: auto;
  display: flex;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%,-50%);
  border: 5px solid var(--main-color);
}

.details_content .left {
  flex-basis: 30%;
  padding-top: 30px;
  text-align: center;
}

.left .details-img {
  width: 200px;
  height: 250px;
  border: 1px solid var(--light-color);
  padding: 10px;
}

.left .brand {
  margin-top: 20px;
}

.left .buy_now {
  padding: 30px;
  width: 300px;
  margin: auto;
  color: #fff;
  font-weight: 700;
  background-color: var(--main-color);
  cursor: pointer;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.details_content .right {
  flex-basis: 70%;
  padding-top: 30px;
}

.right .name {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.right h5 {
  margin-bottom: 20px;
}

.right h5 a {
  text-decoration: none;
} 

.right .colors span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20px;
}

.right .description {
  width: 90%;
}

.right .description span {
  font-weight: 700;
}

@media (max-width: 500px) {
  .left_aside,
  .right_aside {
    display: none;
  }
  .content {
    min-width: 90%;
    margin: auto;
  }
}