* {
  box-sizing: border-box;
}

body {
  position: relative;
}

:root {
  --main-color: rgb(209, 0, 116);
  --light-color: #ecd6e2;
  --light-gray: rgb(215, 214, 214);
}

/* ---Navbar--- */
/* topNav */
.top_nav {
  padding: 10px;
  text-align: center;
}

.top_nav .topnav_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav_content .left {
  flex-basis: 50%;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}

.topnav_content .right {
  flex-basis: 50%;
  text-transform: capitalize;
  font-weight: 500;
}

.topnav_content .right span {
  margin-left: 30px;
  cursor: pointer;
}

/* navbar */
.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--light-color);
  font-style: 28px;
}

.navbar-nav .nav-link:hover {
  color: var(--main-color);
}

.navbar-brand {
  color: #fff;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-weight: 500;
  pointer-events: none;
}

.navbar-brand:hover {
  color: var(--light-color);
}

.btn-outline {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn-outline:hover {
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown-menu.brands_menu.active {
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25%;
  padding-right: 10px;
}

.dropdown-menu.products_menu.active,
.dropdown-menu.categories_menu.active {
  display: block;
}

.dropdown-menu.categories_menu,
.dropdown-menu.brands_menu, 
.dropdown-menu.products_menu{
  display: none;
}

.dropdown-menu.brands_menu .dropdown-item {
  cursor: pointer;
}

.bottom_nav {
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* bottomNav */
#wrapper {
  width: 100%;
  cursor: pointer;
}

#wrapper h3 {
  font-size: 12px;
  text-align: center;
}

#wrapper > div {
  width: 100%;
  height: 35px;
  padding: 0;
  overflow: hidden;
}

#wrapper > div.first {
  border-bottom: none;
}

#wrapper dl {
  display: block;
  margin: 0;
}

#wrapper dt, #wrapper dd {
  display: block;
  float: left;
  margin: 0 10px;
  padding: 2px 15px;
}

#wrapper dd img {
  height: 35px;
  width: 35px;
  border: ipx solid #fff;
}

#wrapper dt {
  border:1px solid  var(--main-color);
  background-color:var(--main-color);
  color: #fff;
  padding: 3px 10px;
}

#wrapper dd {
  color: var(--main-color);
  margin-right: 50px;
}

code {
  font-style: italic;
}

/* main */
.main_section {
  display: flex;
  overflow: auto;
  padding-bottom: 50px;
}

/* Left and Right aside */
.main_section .left_aside,
.main_section .right_aside {
  flex-basis: 15%;
  height: 900px;
}

.main_section .left_aside img,
.main_section .right_aside img {
  width: 100%;
  height: 900px;
}

/* Content */
.main_section .content {
  margin: 0;
  flex-basis: 70%;
  height: 900px;
  padding: 0px 50px;
  overflow: scroll;
  overflow-x: auto;
}

.content .top_part {
  margin-bottom: 20px;
  display: flex;
}

.top_part .caresule {
  flex-basis: 65%;
}

.caresule .carousel-item img {
  height: 300px;
}

.top_part .ads {
  flex-basis: 35%;
  height: 300px;
}

.top_part .ads img {
  width: 100%;
  height: 100%;
}

.content .bottom_part ,
.content .middle_part {
  margin-bottom: 30px;
  width: 100%;
}

.content .bottom_part img {
  width: 100%;
}

.content .middle_part .ads_img {
  margin-bottom: 20px;
}

.middle_part .ads_img img {
  width: 100%;
}

.not_found {
  text-align: center;
  padding: 30px 0;
  background-color: #fdfcfc;
  border: 1px solid #e8d7e3;
  width: 80%;
  margin: 100px auto;
}

.back_home {
  font-size: 20px;
  padding: 15px 5px;
  width: 1000px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  border: 1px solid #dfceda;
  background-color: #fefefe;
  position: relative;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  transition: all .5s ease-in-out;
}

.back_home:hover {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color)
}

.pagination_part .pagination_buttons {
  text-align: center;
}

.pagination_buttons  .pagination_btns {
  margin-right: 1px;
  border-radius: 3px;
  padding: 0 7px;
}

.pagination_buttons  .pagination_btns:hover {
  background-color: var(--light-color);
}

.pagination_buttons  .pagination_btns.active {
  background-color: var(--main-color);
  color: #fff;
}

.pagination_part .pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;
}

/* product page */
.pagination .item_container {
  position: relative;
  width: 190px;
  margin-bottom: 20px;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--light-gray);
}

.item_container .buy_now {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  font-size: 12px;
  margin: auto;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--light-color);
}

.item_container img {
  width: 100%;
  height: 200px;
  border-radius: 7px 7px 0 0;
}

.item_container .product_name {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color:rgba(0, 0, 0, 0.7);
  background-color: rgba(209, 0, 116,.7);
  color: #fff;
  transition: all .7s ease-in-out;
  z-index: 1;
  transform: scaleY(0);
  text-align: center;
}

.item_container:hover .overlay {
  transform: scaleY(1);
}

.overlay .show_details {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 5px;
  padding-bottom: 0px;
  text-transform: capitalize;
}

.overlay .fa-info {
  padding: 5px 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* product details */
.product_details {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.908);
  z-index: 9
}

.fa-times {
  color: #fff;
  font-size: 30px;
  position: absolute;
  right: 13%;
  top: 12%;
  cursor: pointer;
}

.product_details .details_content {
  width: 70%;
  height: 70%;
  margin: auto;
  display: flex;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%,-50%);
  border: 5px solid var(--main-color);
  overflow: hidden;
  word-break: break-all;
}

.details_content .left {
  flex-basis: 30%;
  padding-top: 30px;
  text-align: center;
}

.left .details-img {
  width: 200px;
  height: 250px;
  border: 1px solid var(--light-color);
  padding: 10px;
}

.left .brand {
  margin-top: 20px;
}

.left .buy_now {
  padding: 30px;
  width: 300px;
  margin: auto;
  color: #fff;
  font-weight: 700;
  background-color: var(--main-color);
  cursor: pointer;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.details_content .right {
  flex-basis: 70%;
  padding-top: 30px;
}

.right .name {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.right h5 {
  margin-bottom: 20px;
}

.right h5 a {
  text-decoration: none;
} 

.right .colors span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 20px;
}

.right .description {
  width: 90%;
}

.right .description span {
  font-weight: 700;
}

/* footer */
footer {
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

footer img {
  width: 100%;
}

footer .top {
  background-color: #000;
  height: 50px;
  color: #fff;
  text-transform: capitalize;
  line-height: 50px;
  text-indent: 30px;
}

footer .brands {
  background-color: var(--light-color);
}

footer .brands img {
  margin-left: 25px;
  margin-bottom: 10px;
}

footer .mid {
  background-color: #333;
}

footer .bottom {
  background-color: #1e1e1e;
}

footer .small_screen_footer {
  display: none;
  background-color: #1e1e1e;
  color: var(--main-color);
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

/* loading image */
.loading_img {
  height: 300px;
  text-align: center;
  margin-bottom: 30px;
  padding: 50px 50px 0;
  border: 1px solid var(--main-color);
}

.loading_img h4 {
  margin-bottom: 20px;
}

.loading_img img {
  width: 100px;
}

/* error message */
.error_message {
  color: red;
  border: 1px solid red;
  height: 200px;
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
}

/* media query */
@media (max-width:  575px) { 
  .left_aside,
  .right_aside, 
  .caresule,
  .middle_part,
  .bottom_part,
  .pagination_btns,
  footer .top,
  footer .brands ,
  footer .mid,
  footer .bottom {
    display: none;
  }
  footer .small_screen_footer {
    display: block;
  }
  .navbar-toggler {
    border: 1px solid #fff;
    background: #fff;
  }
  .dropdown-menu.brands_menu.active {
    grid-template-columns: 40% 40%;
    padding-right: 0;
  }
  .top_nav .topnav_content {
    justify-content: space-between;
    font-size: 12px;
  }
  .topnav_content .right span {
    margin-left: 10px;
  }
  .topnav_content .left {
    text-align: left;
  }
  .top_part .ads {
    flex-basis: 100%;
  }
  .content {
    min-width: 90%;
    margin: auto;
  }
  .fa-times {
    right: 5%;
    top: 5%;
  }
  .product_details .details_content {
    width: 90%;
    margin-left: -2%;
    height: 80%;
    display: block;
    border: 3px solid var(--main-color);
  }
  .details_content .left {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .left .details-img {
    width: 150px;
    height: 200px;
    padding: 7px;
  }
  .left .brand {
    margin-top: 10px;
  }
  .left .buy_now {
    padding: 35px;
    width: 140px;
    font-weight: 500;
    font-size: 11px;
    position: absolute;
    top:0;
    right: 0;
  }
  .details_content .right {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .right .name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .right h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .right h5 a {
    text-decoration: none;
    font-size: 14px;
  } 
  .right .colors span {
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
  }
  .right .description {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 765px) {
  .left_aside,
  .right_aside, 
  .top_part .ads,
  .pagination_btns,
  footer .top,
  footer .brands ,
  footer .mid,
  footer .bottom {
    display: none;
  }
  footer .small_screen_footer {
    display: block;
  }
  .navbar-toggler {
    border: 1px solid #fff;
    background: #fff;
  }
  .dropdown-menu.brands_menu.active {
    grid-template-columns: 40% 40%;
    padding-right: 0;
  }
  .top_nav .topnav_content {
    justify-content: space-between;
    font-size: 12px;
  }
  .topnav_content .right span {
    margin-left: 10px;
  }
  .topnav_content .left {
    text-align: left;
  }
  .top_part .caresule {
    flex-basis: 100%;
  }
  .content {
    min-width: 90%;
    margin: auto;
  }
  .fa-times {
    right: 5%;
    top: 5%;
  }
  .product_details .details_content {
    width: 80%;
    margin-left: -1%;
    height: 80%;
    display: block;
    border: 3px solid var(--main-color);
    padding: 20px;
  }
  .details_content .left {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .left .details-img {
    width: 170px;
    height: 230px;
    padding: 7px;
  }
  .left .brand {
    margin-top: 10px;
  }
  .left .buy_now {
    padding: 35px;
    width: 140px;
    font-weight: 500;
    font-size: 11px;
    position: absolute;
    top:0;
    right: 0;
  }
  .details_content .right {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .right .name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .right h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .right h5 a {
    text-decoration: none;
    font-size: 14px;
  } 
  .right .colors span {
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
  }
  .right .description {
    display: none;
  }
}

@media (min-width: 766px) and (max-width: 991px) { 
  .left_aside,
  .right_aside, 
  .top_part .ads,
  .pagination_btns,
  footer .top,
  footer .brands ,
  footer .mid,
  footer .bottom {
    display: none;
  }
  footer .small_screen_footer {
    display: block;
  }
  .navbar-toggler {
    border: 1px solid #fff;
    background: #fff;
  }
  .dropdown-menu.brands_menu.active {
    grid-template-columns: 30% 30% 30%;
    padding-right: 0;
  }
  .top_nav .topnav_content {
    justify-content: space-between;
    font-size: 12px;
  }
  .topnav_content .right span {
    margin-left: 10px;
  }
  .topnav_content .left {
    text-align: left;
  }
  .top_part .caresule {
    flex-basis: 100%;
  }
  .content {
    min-width: 90%;
    margin: auto;
  }
  .fa-times {
    right: 5%;
    top: 5%;
  }
  .product_details .details_content {
    width: 80%;
    margin-left: -1%;
    height: 80%;
    display: block;
    border: 3px solid var(--main-color);
    padding: 20px;
  }
  .details_content .left {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .left .details-img {
    width: 170px;
    height: 230px;
    padding: 7px;
  }
  .left .brand {
    margin-top: 10px;
  }
  .left .buy_now {
    padding: 35px;
    width: 140px;
    font-weight: 500;
    font-size: 11px;
    position: absolute;
    top:0;
    right: 0;
  }
  .details_content .right {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .right .name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .right h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .right h5 a {
    text-decoration: none;
    font-size: 14px;
  } 
  .right .colors span {
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
  }
  .right .description {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { 
  .right .description {
    width: 100%;
  }
  .pagination_buttons  .pagination_btns {
    padding: 3px;
    font-size: 12px;
  }
}

@media (min-width: 1200px) { 

}
